{% extends "CitadelMapBundle::administration_header.html.twig" %}

{% block wrap %}
<div id="wrap">
    <ul id="maps-list" class="list-group">
        <li class="list-group-item">
            <a href="{{ path("map_bundle_show_map",{"id" : map.id}) }}">
                {{ map.name }}
            </a>
        </li>
    </ul>
</div>
{% endblock %}